<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Availability Service{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('www/css/main.min.css') }}">
            <style type="text/css">
                table.table td {
                    word-break: break-all;
                    word-wrap: break-word;
                }
            </style>
        {% endblock %}

    </head>
    <body ng-app="app">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('www/js/main.min.js') }}"></script></script>
        {% endblock %}
    </body>
</html>


